form{
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#loginForm{
    margin-top: 150px;
}
.main{
    display: flex;
    
    align-items: center;
    width: 90%;
    margin-top: 15px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    border-bottom: 1px solid black;
    margin-left: 15px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
    letter-spacing: 1.5px;
    font-style: italic;
}
label{
    font-weight: bold;
    
}
h3{
    text-align: center;
    color: rgba(21, 111, 196, 0.847);;
}
.btn{
    width: 70%;
    margin-top: 15px;
    margin-left: 60px;
    background-color: rgba(21, 111, 196, 0.847);
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}
.btn:hover{
    background-color:rgb(16, 97, 209) ;
    cursor: pointer;
}
.separate{
    width: 450px;
    display: flex;
    align-items: center;
}
.link{
    margin-left: 15px;
    color: rgb(71, 114, 184);
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
.link:hover{
    color: rgb(16, 97, 209);
    cursor: pointer;
}